:root {
  --main-bg-color: #e8e8e1;
}

@font-face {
  font-family: "Suisse BP Int'l Antique", sans-serif;
  src: url(.SuisseBPIntl-Antique.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Suisse BP Int'l Antique", sans-serif;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #191919;
}

html,
body {
  width: 100%;
  background-color: #e8e8e1;
  overscroll-behavior: none;
}

.menu-tog {
  position: fixed;
  top: 3%;
  right: 2%;
  width: 25px;
  height: 6px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  z-index: 3;
  /* mix-blend-mode: difference !important; */
}

.menu-tog span {
  position: relative;
  width: 100%;
  height: 2px;
  /* background-color: #ffffff; */
  background-color: black;
  mix-blend-mode: difference;
  /* color: #ffffff; */
  transition: 0.5s;
  transform-origin: center;
}

.menu-tog.active span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

.menu-tog.active span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 29%;
  z-index: 2;
  /* mix-blend-mode: difference !important; */
  /* color: #ffffff; */
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0px;
}

.app-title {
  font-size: 20px;
  /* color: #ffffff; */
  color: black;
}

.info-text {
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}

.wrap {
  position: relative;
  display: block;
  line-height: auto;
  overflow: hidden;
  transition: 0.7s;
  will-change: transform;
}

.wrap h1,
.wrap .img,
.wrap p {
  transform: translateY(100%);
  transition: 1s;
  will-change: transform;
}

.wrap.active h1,
.wrap.active .img,
.wrap.active p {
  transform: translateY(0);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #151515;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s;
}

.menu.active {
  pointer-events: all;
  opacity: 1;
}

.links {
  position: absolute;
  top: 10%;
  left: 2%;
  height: 290px;
}

.links ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-wrap {
  position: relative;
  overflow: hidden;
}

.menu-wrap a {
  display: block;
  font-size: 60px;
  transform: translateY(100%);
  transition: 0.7s;
  color: white;
}

.menu-wrap.active a {
  transform: translateY(0);
}

.menu-wrap span {
  font-size: 12px;
}

.contact {
  position: absolute;
  top: 10%;
  right: 3%;
}
.contact-links {
  font-size: 18px !important;
}
.contact-title {
  font-size: 20px !important;
}

.copyright {
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.copyright-title {
  font-size: 16px !important;
}

.project-gallery-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.scrollable {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  will-change: transform;
}

.content {
  position: relative;
  width: 100%;
}

section {
  position: relative;
  height: 50vh;
  /* border: 1px solid black; */
}

.img-1 {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 40%;
  height: 90%;
}

.proj-info-1 {
  position: absolute;
  left: 43%;
  bottom: 5%;
  text-align: left;
}

.img-2 {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 30%;
  height: 70%;
}

.proj-info-2 {
  position: absolute;
  right: 33%;
  bottom: 10%;
  text-align: right;
}

.img-3 {
  position: absolute;
  top: 10%;
  right: 2%;
  width: 25%;
  height: 80%;
}

.proj-info-3 {
  position: absolute;
  right: 28%;
  bottom: 10%;
  text-align: right;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* filter: grayscale(5%) sepia(5%); */
}

.about-wrapper {
  position: relative;
  /* position: absolute; */
  margin-top: 30%;
  left: 50%;
  /* margin-left: auto;
  margin-right: auto; */
  width: 50%;
  transform: translate(-50%, -50%);
}
.wrap p {
  /* display: block; */
  font-size: 60px;
}

/* animation loader */
.animated-text-container {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
  animation-fill-mode: forwards;
  z-index: 6;
  top: 0;
  left: 0;
  position: fixed;
}

.animated-text-wrapper {
  color: white;
  position: absolute;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loader-text {
  font-family: "Monument Extended";
  font-weight: lighter;
  font-size: 70px;

  padding-bottom: 40px;
  /* @media #{$xs-layout} {
    font-size: 35px;
  } */
}

.loader-text-1 {
  animation: fadeOut 3s forwards;
  -webkit-animation: fadeOut 3s forwards;
  animation-delay: 3s;
  color: white;
}

.job-desc {
  text-align: center;
  margin-top: 7px;
  opacity: 0.8;
  font-size: 25px;
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}
@-moz-keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}
@-o-keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}
@keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slide-out-container {
  0% {
    height: 100vh;
  }

  40% {
    height: 100vh;
  }

  100% {
    height: 0%;
  }
}
/* end animated loader */

/* Project Styles */
.project-page {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  z-index: 0;
}
.intro-wrapper {
  position: relative;
  margin-top: 10%;
  background-color: var(--main-bg-color) !important;
  text-align: center;
}

.project-title {
  margin-bottom: 25px;
}
.project-title h1 {
  font-size: 64px !important;
}

.project-image-wrapper {
  height: 40%;
}
.project-image-wrapper img {
  width: 100%;
}

.project-details {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  /* margin-left: 10%; */
}

.project-details ul li {
  padding-bottom: 5px;
}

.project-description-wrapper {
  width: 40%;
  padding-top: 20px;
}
.project-description-wrapper p {
  text-align: left;
  line-height: 25px;
}

.project-screenshots {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.project-screenshots img {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app-title {
    font-size: 17px;
    margin-top: -4px;
  }

  .contact {
    top: 12%;
    right: 2%;
  }
  .contact-links {
    font-size: 16px !important;
  }
  .copyright {
    left: 3%;
  }

  .wrap p {
    /* display: block; */
    font-size: 20px !important;
  }
  .header {
    width: 46%;
  }

  .project-page {
    padding-right: 20px;
    padding-left: 20px;
  }
  .project-title {
    margin-bottom: 5px;
  }
  .intro-wrapper {
    margin-top: 20%;
  }

  .project-title h1 {
    font-size: 30px !important;
  }
  .project-description-wrapper {
    width: 80%;
  }
  .project-screenshots {
    flex-direction: column;
  }

  .app-name {
    font-size: 25px !important;
  }

  .job-desc {
    margin-top: 4px;
    font-size: 20px !important;
  }
}
